#charter{
    width: 80%;
    padding: 45px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#position{
    .position_warp {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .name{
            width: 100%;
            max-width: 360px;
            height: 100%;
            color: #000;
            border-radius: 10px;
            margin: 1rem;
            font-size: 1.1em;
            user-select: none;
            &:hover{
                h3 {
                    transform: translateY(calc(-100% + 1rem));
                    background-color: #1d6bb3;
                    color: #fff;
                }
            }
            h3 {
                width: 100%;
                height: 100%;
                min-height: 230px;
                padding: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #191924;
                box-shadow: 0 0 25px #11111a;
                z-index: 1;
                margin: 0;
                border-radius: 1rem;
                color: #fff;
                font-weight: bolder;
                transition: all .4s;
                &::before {
                    content: attr(data-eng);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, calc(-50% + 2rem));
                    color: #fff;
                    font-size: 0.5rem;
                    font-family: '微軟正黑體';
                    white-space: nowrap;
                }
            }
            p {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
                background-color: #fff;
                border-radius: 1rem;
                padding: 2rem ;
                font-size: 0.9rem;
                display: flex;
                align-items: center;
            }
        }
    }
}
#charter_process{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    .compare{
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        div{
            border-radius: .5rem;
            &.doc_content{
                max-width: 520px;
                width: 95%;
                background-color: #fff;
                color: #000;
                overflow-x: scroll;
                table{
                    left: 0;
                    transform: translateX(0);
                }
            }
            padding: 2rem 1rem 0 1rem;
            h3 { 
                white-space: nowrap; 
                font-weight: bolder;
                font-size: 1.1rem;
                text-align: left;
                margin: 0;
            }
            p {
                font-size: 0.9rem;
                b { font-weight: bolder; }
            }
            
            table {
                margin: 0;
                border: none;
                th {
                    font-weight: bolder;
                    padding: 5px;
                }
                td{ 
                    border: none;
                    vertical-align: text-top;
                    white-space: nowrap;
                    font-size: 0.9rem;
                    padding: 5px;
                }
            }
            &.trun{ 
                padding: 0;
                margin: 2rem;
                img{
                    max-width: 150px;
                    min-width: 100px;
                    position: relative;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);

                }
                
            }
        }
    }
    .fix_part {
        margin-top: 5rem;
        text-align: center;
        font-size: 1.5em;
    }
}

@media screen and (max-width:1000px){
    #charter {
        width: 95%;
        padding: 0;
    }
    #position {
        width: 100%;
    }
}

@media screen and (max-width:1200px){
    #charter_process {
        .compare {
            flex-wrap: wrap;
            div{
                &.trun{
                    width: 100%;
                    img {
                        margin: 4rem 0;
                        transform: translate(-50%,-150%) rotate(90deg);
                    }
                }
            }
        }
    }
}

.organize_structure {
    width: 350px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 120px;
    padding-bottom: 200px;
    .structure {
        width: 180px;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 35px;
        border: 3px solid #ccc;
        height: 40px;
        
        &.st1{
            border-top: none;
            .member {
                width: 120px;
                &.left{
                    top: 0;
                    left: 0;
                    transform: translate(-50%, -100%);
                }
                &.right {
                    width: 120px;
                    top: 0;
                    right: 0;
                    transform: translate(50%, -100%);
                    position: absolute;
                }
                
            }
            &::before {
                content: '';
                width: 3px;
                height: 100%;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, 100%);
                background-color: #ccc;
            }
        }

        &.st2{
            width: 475px;
            border-bottom: none;
            .member {
                width: 180px;
                &.left{
                    top: 0;
                    left: 0;
                    transform: translate(-50%, 40px);
                }
                &.right {
                    width: 180px;
                    top: 0;
                    right: 0;
                    transform: translate(50%, 40px);
                    position: absolute;
                }
            }
        }

        &.st3{
            width: 475px;
            border-bottom: none;
            border-top: none;
            margin-top: 70px;
            .st4 {
                width: 350px;
                position: absolute;
                border-bottom: none;
                top: 5px;
                &.left, &.right {
                    .st5{
                        width: calc(50% * 0.75);
                        border: 0;
                        transform: translate(0, 0);
                        &.left, &.right { 
                            position: absolute; 
                            top: -100%; 
                        }
                        &.left{ left: -3px;}
                        &.right{ 
                            left: calc(50% + (50% * 0.33));

                        }
                        .member{
                            &.left, &.right {
                                width: 100px;
                                position: absolute;
                            }
                            &.left {
                                top: 40px;
                                transform: translateX(-50%);
                            }
    
                            &.right{
                                top: 40px;
                                left: 50%;
                                // transform: translateX(50%);
                            }

                            
                        }
                    }
                }
                &.left {
                    left: 0;
                }

                &.right {
                    left: 100%;
                }
                &::before, &::after {
                    content: '';
                    position: absolute;
                    width: 3px;
                    height: 100%;
                    top: 0;
                    background-color: #ccc;
                }

                &::before {
                    left: 33%;
                }

                &::after {
                    left: 66%;
                }
            }
        }
        
        .member {
            border: 3px solid #ccc;
            padding: 1.5rem;
            white-space: nowrap;
            text-align: center;
            border-radius: .5rem;
            background-color: #22222d;
            transition: box-shadow .4s;
            user-select: none;
            transition: all .4s;
            &:hover{ 
                box-shadow: 0 0 40px rgb(88, 195, 241); 
            }
            
        }
        
    }
}

@media screen and (max-width:900px){
    .organize_structure {
        .structure{
            height: 25px;
            margin-top: 17px;
            &.st1{
                .member{
                    &.left  { transform: translate(-35%, -100%); }
                    &.right { transform: translate( 35%, -100%); }
                }
            }
            &.st2{
                width: 195px;
                .member {
                    &.left, &.right {
                        width: 20ch;
                        padding: 1rem;
                        transform: translate(-50%, 22px);
                    }
                    &.right {
                        width: 20ch;
                        padding: 1rem;
                        transform: translate(50%, 22px);
                    }
                }
            }
            &.st3{
                width: 195px;
                margin-top: 55px;
                .st4 {
                    width: 130px;
                    .st5 {
                        .member{
                            padding: 1rem 5px;
                            font-size: 0.8rem;
                            width: 65px !important;
                            top: 25px !important;
                            &.long{
                                top: 90px !important;
                                transform: translateX(-25%);
                                &::before{
                                    content: '';
                                    width: 3px;
                                    height: 90px;
                                    position: absolute;
                                    top: -90px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    background-color: #ccc;
                                }
                                &.long_left {
                                    left: 62% !important;
                                }
                                &.long_right {
                                    left: 57% !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}