#contract_store{
    width: 100%;
    .store {
        max-width: 800px;
        width: 90%;
        margin: 3rem 0;
        left: 50%;
        display: flex;
        transform: translateX(-50%);
        border-radius: 0.5rem;
        box-shadow: 0 0 0px #a6e7ff;
        transition: all .4s;
        overflow: hidden;

        &:hover{
            box-shadow: 0 0 25px #a6e7ff;
        }
        
        .name{
            text-align: center;
            margin-top: 20px;
        }
        
        .store_info {
            width: 100%;
            padding: 2rem 1rem ;
            background-color: #ffffff;
            h4 {
                text-align: center;
                color: #1b85ac;
                font-weight: bolder;
                span {
                    white-space: nowrap;
                    font-size: 1.5em;
                }
            }
            p {
                margin-top: 1.5rem;
                color: #000000;
                text-align: center;
                font-size: 1.2em;
            }
            svg {
                width: 250px;
                height: 230px;
                left: 50%;
                transform: translateX(-50%);

                .svg_hover_float_up {
                    transition: transform .4s;
                    &:hover {
                        transform: translateY(-15px);
                    }
                }
            }
        }
    }
}